version: "3.9"

services:

  rabbitmq:
    image: rabbitmq:4.2.3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - sender
      - recipient

  micro-sender:
    build: ./micro-sender
    container_name: micro-sender
    ports:
      - "8081:8080"
    depends_on:
      - rabbitmq
    networks:
      - sender
      - monitoring

  micro-recipient:
    build: ./micro-recipient
    container_name: micro-recipient
    ports:
      - "8082:8080"
    depends_on:
      - rabbitmq
    networks:
      - recipient
      - monitoring

  micro-collector:
    build: ./micro-collector
    container_name: micro-collector
    depends_on:
      - micro-recipient
    networks:
      - recipient
      - monitoring

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    networks:
      - monitoring

networks:
  sender:
  recipient:
  monitoring:
